.searchbar-wrapper {
    width: 100%;

    margin: 10px 0 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", sans-serif;
}

.searchbar-container {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-container input {
    /* width: max(220px, 80%); */

    margin: 0 0 0 10px;

    flex-grow: 1;

    border: none;
    outline: none;
    background: transparent;

    border-radius: 0;
    border-bottom: 1px solid var(--lavender-pastel-1);

    font: inherit;
    color: var(--lavender-pastel-font-1);
}

@media screen and (max-width: 500px) {
    .searchbar-container input {
        font-size: var(--h5-font-size);
    }

    .searchbar-wrapper {
        margin: 6px 0 6px 0;
    }
}

.searchbar-container i {
    max-width: min-content;
    cursor: pointer;
}

.searchbar-container .ui-select {
    width: max-content;
}

.searchbar-container > *:first-child {
    flex-grow: 1;
}

.searchbar-container > div:nth-child(2) {
    flex-grow: 2;
}
