.searchbar-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-container {
    width: 80%;

    padding: 10px 0 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar-container input {
    margin-right: 10px;

    flex-grow: 1;

    border: none;
    outline: none;
    background: transparent;

    border-bottom: 1px solid var(--lavender-pastel-1);

    font: inherit;
    color: var(--lavender-pastel-font-1);
}

.searchbar-container i {
    cursor: pointer;
}
