/* For top navigation bar */
.nav-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: max-content;

    margin: 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    overflow-x: scroll;
    overflow-y: hidden;

    scroll-behavior: smooth;
}

.nav-container::-webkit-scrollbar {
    display: none;
}

.nav-button-container button {
    width: auto;
    height: auto;

    margin: 0.5em 0.7em;

    border: none;
    outline: transparent;
    background: transparent;

    font-size: var(--h2-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--title-font);
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s ease;
}

.nav-button-container button:hover {
    color: var(--lavender-pastel-1) !important;
}

.nav-button-underline {
    border-bottom: 1.5px solid var(--lavender-pastel-font-1) !important;
}

.nav-button-underline:hover {
    border-color: var(--lavender-pastel-1) !important;
}

@media screen and (max-width: 800px) {
    .nav-button-container button {
        font-size: var(--h4-font-size);
    }
}

@media screen and (max-width: 450px) {
    .nav-button-container button {
        font-size: var(--h5-font-size);
    }
}

/* For hamburger menu button */
.hamburger-menu-button {
    width: 50px;
    height: 50px;

    border: none;
    outline: transparent;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--h2-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--title-font);
    font-weight: bold;

    cursor: default;

    transition: 0.2s ease;

    > * {
        cursor: pointer;
    }
}

/* For sidebar menu that appears after you press the hamburger menu button */
.sidebar-menu {
    position: fixed;
    top: 0;
    left: -300px; /* Position of sidebar menu when it is closed */

    width: min-content;
    height: 100vh;

    padding: 20px;

    background: var(--gray-pastel-1);
    transition: all 0.4s ease;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.sidebar-menu.active {
    left: 0; /* Position of sidebar menu when it is open */
}
