/* For top navigation bar */
.nav-wrapper {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    width: max-content;

    margin: 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    overflow-x: scroll;
    overflow-y: hidden;

    scroll-behavior: smooth;
}

.nav-container::-webkit-scrollbar {
    display: none;
}

.nav-button-container button {
    width: auto;
    height: auto;

    margin: 0.5em 0.7em;

    border: none;
    outline: transparent;
    background: transparent;

    font-size: var(--h2-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--title-font);
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s ease;
}

.nav-button-container button:hover {
    color: var(--lavender-pastel-1) !important;
}

.nav-button-underline {
    border-bottom: 1.5px solid var(--lavender-pastel-font-1) !important;
}

.nav-button-underline:hover {
    border-color: var(--lavender-pastel-1) !important;
}

@media screen and (max-width: 800px) {
    .nav-button-container button {
        font-size: var(--h4-font-size);
    }
}

@media screen and (max-width: 450px) {
    .nav-button-container button {
        font-size: var(--h5-font-size);
    }
}

/* For hamburger menu button */
.hamburger-menu-button {
    width: 50px;
    height: 50px;

    border: none;
    outline: transparent;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--h2-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--title-font);
    font-weight: bold;

    cursor: default;

    transition: all 0.4s ease;

    position: relative;
}

.hamburger-menu-button > i {
    transition: all 0.4s ease;
    cursor: pointer;
}

.hamburger-menu-button > i:hover {
    color: var(--lavender-pastel-font-1);
}

/* For sidebar menu that appears after you press the hamburger menu button */
.sidebar-menu {
    position: fixed;
    top: 0;
    left: -100vw; /* Position of sidebar menu when it is closed */

    width: 100vw;
    height: 100dvh;

    border: none;
    /* border-right: 2px solid var(--gray-pastel-0); */

    transition: all 0.4s ease-in-out;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
}

.sidebar-menu-links {
    padding: 20px;

    background: var(--gray-pastel-1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    flex-grow: 1;
}

.sidebar-menu-links button {
    font-size: var(--h1-font-size);
    font-family: var(--text-font);
}

.sidebar-menu.active {
    left: 0; /* Position of sidebar menu when it is open */
}

.sidebar-menu-header {
    height: 4dvh;
}

@media screen and (min-width: 500px) {
    .sidebar-menu-header {
        height: 10dvh;
    }
}

.sidebar-menu-header,
.sidebar-menu-footer {
    padding: 20px;

    background: var(--gray-pastel-1);

    background-color: var(--lavender-pastel-4);

    border: none;
    border-bottom: 10px solid white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar-menu-footer {
    border-bottom: none;
    border-top: 4px solid white;
    flex-direction: column;
}

.sidebar-menu-header .sidebar-menu-title {
    /* padding-left: 20px; */

    font-size: var(--h1-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--text-font);
    font-weight: bold;
}

.sidebar-menu-header > button {
    border: none;
    outline: none;

    font-size: var(--h4-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--title-font);
    font-weight: bold;

    background: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar-menu-header > button > i {
    cursor: pointer;

    transition: all 0.4s ease;
}

.sidebar-menu-header > button > i:hover {
    color: var(--lavender-pastel-1);
}

.sidebar-menu-footer * {
    font-size: var(--h5-font-size);
    color: var(--lavender-pastel-font-1);
    font-family: var(--text-font);
}

.sidebar-menu-footer > button {
    border: none;
    background: transparent;

    font-weight: bold;
}

/* Hamburger menu button */
.hamburger-menu-button > .fa {
    position: absolute;
}

.fa-fixed {
    position: fixed !important;
}

.fa.active {
    transform: rotate(180deg);
    opacity: 1;
}

.fa.inactive {
    transform: rotate(0deg);
    opacity: 0;
}
